fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
email-validator

# PostgreSQL adapter
psycopg2-binary

# Timezone support
pytz

# Carregar .env em desenvolvimento
python-dotenv

# Dependências para Google Calendar
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# Dependências para Cloudinary
cloudinary
